{
    "token": "from your bot account",
    "clientId": "your bot's application Id",
    "guildId": "You guild's id, used for registering commands",
    "channelId": "channel id for registration responses"
}